# interfaces(5) file used by ifup(8) and ifdown(8)
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

# XXX we have to trust that it will be eth1 !!
auto eth1
iface eth1 inet static
   address {{ private_ip_address }}
   netmask {{ private_network_mask }}
   gateway {{ private_network_gateway }}
